@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --border2: var(--border);
    --input: 214.3 31.8% 91.4%;
 
    --primary: 285 100% 34%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --accent2: var(--accent);
    --accent-foreground2: var(--accent-foreground);
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --border2: var(--border);
    --input: 216 34% 17%;
 
    --primary: 285 100% 34%;
    --primary-foreground: 210 40% 98%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 16%;
    --accent-foreground: 210 40% 98%;

    --accent2: var(--accent);
    --accent-foreground2: var(--accent-foreground);
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.cl-card, .cl-formFieldInput {
  @apply bg-card dark:border-[1px] dark:border-border text-card-foreground;
}
.cl-headerTitle, .cl-headerSubtitle, .cl-profileSectionTitleText, .cl-profileSectionContent p, .cl-profileSectionContent div button div span,.cl-form p, .cl-formFieldLabel, .cl-breadcrumbsItem, .cl-breadcrumbsItemDivider, .cl-page p{
  @apply text-card-foreground;
}

.cl-profileSectionPrimaryButton {
  @apply text-primary dark:text-card-foreground hover:bg-primary/10 dark:hover:bg-primary/30;
}

.cl-profileSectionContent__profile {
  @apply hover:bg-accent rounded-md transition-all;
}

.cl-profileSectionContent svg{
  @apply text-primary dark:text-card-foreground;
}

.cl-navbarButton {
  @apply text-card-foreground hover:bg-accent rounded-md transition-all;
}

.cl-accordionTriggerButton {
  @apply hover:bg-accent2 rounded-md transition-all
}

.cl-navbar {
  @apply border-r border-border
}

.cl-card > div:last-child {
  @apply hidden;
}

.cl-page > div > div > button{
  @apply capitalize text-sm text-primary dark:text-card-foreground hover:bg-accent2 dark:hover:bg-primary/30;
}

.cl-main p{
  @apply text-card-foreground;
}

.cl-alternativeMethods > button {
  @apply border border-border2 rounded-md hover:bg-accent2 transition-all;
}

.cl-main > button {
  @apply border border-border2 rounded-md hover:bg-accent2 transition-all;
}

.cl-main button span, .cl-main button svg, .cl-main button div span {
  @apply text-card-foreground;
}

.cl-formButtonPrimary {
  @apply capitalize inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-primary text-primary-foreground hover:bg-primary/90;
}

.cl-formButtonReset {
  @apply capitalize text-sm text-primary dark:text-card-foreground hover:bg-accent2 dark:hover:bg-primary/30;
}

.cl-socialButtons > button{
  @apply border border-border2 rounded-md hover:bg-accent2 transition-all;
}

.cl-socialButtons span, .cl-socialButtons svg {
  @apply text-card-foreground;
}

.cl-alternativeMethodsBlockButton {
  @apply border border-border rounded-md hover:bg-accent transition-all;
}

.cl-alternativeMethodsBlockButtonText, .cl-alternativeMethodsBlockButton svg {
  @apply text-card-foreground;
}



.cl-footer span {
  @apply text-card-foreground;
}

.cl-footerActionLink {
  @apply text-primary hover:text-primary/90;
}

.cl-dividerText {
  @apply text-card-foreground;
}

.cl-dividerLine {
  @apply bg-border;
}

.cl-userPreviewSecondaryIdentifier{
  @apply text-muted-foreground;
}

.cl-navbarMobileMenuButton {
  @apply text-card-foreground hover:bg-accent2 hover:text-accent-foreground rounded-md transition-all;
}
.cl-navbar {
  @apply bg-card dark:border dark:border-border text-card-foreground;
}
.cl-navbarButton {
  @apply text-card-foreground hover:bg-accent2 rounded-md transition-all;
}
.cl-headerBackIcon, .cl-headerBackLink {
  @apply text-primary;
}